<%= form_for [@commentable, @comment], remote: true do |f| %>
<% if @comment.errors.any? %>
  <div class="error_messages">
    <h2>Please correct the following errors:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.text_area :content, rows: 8, id: "comment_form_field" %>
</div>
<div class="action">
  <%= f.submit class: "button tiny" %>
</div>
<% end %>
