<div id="zones" class="row">
  <h1><%= @deck.name %></h1>
  <div id="side-bar" class="medium-2 columns">
    <div id="deck">
      <div id="library">
        [ Library ]
      </div>
      <div id="graveyard">
        [ Graveyard placeholder ]
      </div>
      <div id="exile">
        [ Exile placeholder ]
      </div>
    </div>
    <div id="counters">
      <div id="life">
        Life: [ 20/20 ]
      </div>
      <div id="poison">
        Poison: [ 0 ]
      </div>
      <div id="mana-pool">
        <div id="green">[ G ]</div>
        <div id="white">[ W ]</div>
        <div id="blue">[ U ]</div>
        <div id="black">[ B ]</div>
        <div id="red">[ R ]</div>
        <div id="colorless">[ X ]</div>
      </div>
    </div>
  </div>
  <div id="in-play-bar" class="medium-1 columns">
    .
    <div id="play">

    </div>
  </div>
  <div id="battlefield" class="medium-9 columns">
    .
    <div id="creatures">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div id="enchantments">

    </div>
    <div id="artifacts">

    </div>
  </div>
  <div class="medium-9 columns" id="bottom-bar">
    .
    <div id="land">

    </div>
    <div id="hand">

    </div>
  </div>

</div>
