<div id="zones">
  <h1><%= @deck.name %></h1>
  <div id="battlefield">
    .
    <div id="creatures">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div id="enchantments">

    </div>
    <div id="artifacts">

    </div>
  </div>
  <div id="side-bar">
    <div id="deck">
      <div id="library">

      </div>
      <div id="graveyard">

      </div>
      <div id="exile">

      </div>
    </div>
    <div id="counters">
      <div id="mana-pool">
        <div id="green"></div>
        <div id="white"></div>
        <div id="blue"></div>
        <div id="black"></div>
        <div id="red"></div>
        <div id="colorless"></div>
      </div>
      <div id="life">

      </div>
      <div id="poison">

      </div>
    </div>
  </div>
  <div id="bottom-bar">
    .
    <div id="land">

    </div>
    <div id="hand">

    </div>
  </div>
  <div id="in-play-bar">
    .
    <div id="play">

    </div>
  </div>
</div>
