<div class="header">
  <h2>Cards</h2>
</div>
<div class="card-index row">
  <%= javascript_tag "pagination" %>
  <div class="row">
    <div id="search" class="large-3 medium-4 small-5 columns"><%= render "search" %></div>
    <div id="welcome" class="panel radius large-4 medium-5 small-6 columns">
      <p>
        Search for cards you would like to view/purchase. Click the card's name
        to see all of its information. Click "Advanced Search" to see a
        list of additional filters.<br><br>

        <strong>Note: </strong>Some screen sizes may require scrolling the search results to the
        right in order to view price and purchasing.
      </p>
    </div>
  </div>
  <div id="cards"><%= render "cards" if @cards %></div>
</div>
