<div class="card-index row">
  <h1>Cards</h1>
  <%= javascript_tag "pagination" %>
  <div class="row">
    <div id="search" class="large-3 medium-4 small-5 columns"><%= render "search" %></div>
    <div id="welcome" class="panel radius callout large-4 medium-5 small-6 columns">
      <p>
        Welcome to MTGdb-unofficial! This site is designed for you to be able to
        buy and trade cards, build decks, and (eventually) playtest them.
        Signup, make a deck, and get some feedback!
      </p>
    </div>
  </div>
  <div id="cards" ><%= render "cards" if @cards %></div>
</div>
