.card-show {
  #card-image-box {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  #card-info-box {
    display: block;
    position: relative;
    margin-left: 25%;
    margin-right: 45%;
    top: -300px;
    p {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  #card-info-header {
    display: block;
    position: relative;
    top: -300px;
    margin-left: 25%;
    margin-right: 45%;
    margin-top: auto;
    margin-bottom: 2px;
  }
  .back-button {
    position: relative;
    left: 0px;
    bottom: 300px;
  }
}
