.card-show {
  #card-image-box {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  #card-info-box {
    display: block;
    position: relative;
    margin-left: 25%;
    margin-right: 45%;
    top: -300px;
    p {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  #card-info-header {
    display: block;
    position: relative;
    top: -300px;
    margin-left: 25%;
    margin-right: 45%;
    margin-top: auto;
    margin-bottom: 2px;
  }
  .back-button {
    position: relative;
    left: 0px;
    bottom: 300px;
  }
}

#card-image {
    position: relative;
    transition: 0.5s fast;
    -webkit-transition: 0.5s fast;
    -moz-transition: 0.5s fast;

  &:hover {
    -webkit-transform: scale(4,4);
    -moz-transform: scale(4,4);
    z-index: 1;
    padding-right: 25px;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
}
.search-form {
  padding-right: 75%;
  padding-left: 30px;
}

.card-index {
  padding-right: 15px;
  padding-left: 15px;
}

.card-show {
  padding: 15px;
}

.hidden {
  display: none;
}
