.game {
  padding: 2%;
}

#zones {
  #battlefield {
    background-color: green;
    height: 330px;
    img {
      height: 38.5%;
    }
  }
  #bottom-bar {
    background-color: blue;
    /* width: 75%; */
    box-sizing: border-box;
    #hand {
      background-color: blue;
      position: center;
      img {
        height: 12.5%;
        width: 12.5%
      }
    }
  }
  #side-bar {
    background-color: purple;
    height: 455px;
  }
  #in-play-bar {
    background-color: red;
    height: 455px;
  }
}
.library {
  z-index: auto;
  position: absolute;
}
