#zones {
  #battlefield {
    background-color: green;
    height: 330px;
  }
  #bottom-bar {
    background-color: blue;
    height: 100px;
  }
  #side-bar {
    background-color: purple;
    height: 430px;
  }
  #in-play-bar {
    background-color: red;
    height: 430px;
  }
}
