.main-section {
  background: rgb(214, 213, 214);
  .container {
    border-radius: 5px;
    background-image: image_url("welcome_background.jpg");
    background-size: cover;
  }
}
.scroller div {
  h5 {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: rgb(249, 249, 249);
    font-weight: 300;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
  }
  p {
    background: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    border-radius: 10px;
    color: rgb(249, 249, 249);
    text-align: center;
    span {
      font-weight: 400;
      color: rgb(110, 194, 116);
    }
  }
}
