<h2><%= "#{@deck.name} edit" %></h2>
<%# javascript_tag "pagination" %>

<div id="card-search-for-library"><%= render 'card_search_for_library' %><div>
<div id="cards-for-deck"><%= render 'cards_for_deck' %></div>
